*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.img {
  display: block;
  width: 100%;
  object-fit: cover;
  inset: 0;
}

.doubleTab {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  background-color: lightblue;
}

.picture {
  height: 60%;
  width: 80%;
  background-image: url("raven.jpg");
  background-position: center;
  background-size: cover;
  background-color: blue;
}

.deadline {
  background-color: darkcyan;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  width: 90%;
  padding: 2rem;
}

.divDetails {
  background: black;
  color: white;
  width: 4.2rem;
  height: 4rem;
  display: grid;
  place-items: center;
}

.value {
  font-size: 2rem;
}

.expired {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  color: red;
  text-align: center;
}
